.san-pham-ct
	&.van-san
		.wrap-main-product
			.wrap-img-product
				.img-main-product
					.img
						height: 100%
					a
						+img-ratio(1.1)
						@media screen and ( max-width: 1279.67px )
							padding-top: 116%
				.thumbnail-product
					.swiper-container
						.wrap-img
							padding: 0px
			.wrap-content-product
				@media screen and ( min-width: 1200px )
					padding-left: 35px
					padding-top: 30px
		.content-main
			border-bottom: 1px solid $border-2
			padding-bottom: 16px
			table
				tr
					td
						@media (min-width: 576px)
							&:first-child
								width: 28.5%
	&.dung-cu-cam-tay
		.wrap-main-product
			.wrap-img-product
				.img-main-product
					a
						+center-image()
						@media screen and ( max-width: 1280px )
							height: 100%
						@media screen and ( max-width: 1200px )
							padding-top: 62%
	&.main-css-image
		.wrap-main-product
			.wrap-img-product
				.img-main-product
					a
						+center-image()
						@media screen and ( max-width: 1280px )
							height: 100%
						@media screen and ( max-width: 1200px )
							padding-top: 62%
