.login-page
	padding: 53px 0px 90px 0px
	.login-panel
		.headtitle
			color: $black-1
			font-size: r(30px)
			font-weight: 700
			text-align: center
			text-transform: uppercase
		.login-form
			width: 494px
			height: 570px
			box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.1)
			background-color: $white
