section.page-langding.section
	.container
		.title-km.color-text.f-24.text-center Chương trình khuyến mãi áp dụng với tất cả đơn hàng online và offline từ ngày 21.01.2021 đến hết ngày 13.02.2021
		.section-title SẢN PHẨM KHUYẾN MÃI
		.wrap-flex-product
			.item-product
				.product
		.button.d-flex.justify-center.mt-20
			.btn.btn-defaul.showItem
				span Xem thêm
				em.lnr.lnr-plus-circle
