section.page-langding.section
	.container
		.title-km.color-text.f-24.text-center Chương trình khuyến mãi áp dụng với tất cả đơn hàng online và offline từ ngày 21.01.2021 đến hết ngày 13.02.2021
		.section-title SẢN PHẨM KHUYẾN MÃI
		.wrap-flex-product
			-for(i=0;i<20;i++)
				.col-product
					.product-item
						a.pro-img(href="san-pham-chi-tiet.html")
							img.lazyload(data-src="./img/img-product.png" alt="")
						.option.yellow
							.desc Mới
						.pro-infor
							.pro-title
								a(href="vat-lieu-chi-tiet.html") Máy Hàn Điện Tử CT33102 CROWN
							.pro-price.d-flex
								span.price 550.000 đ
								span.price-old 650.000 đ
		.button.d-flex.justify-center.mt-20
			.btn.btn-defaul.showItem
				span Xem thêm
				em.lnr.lnr-plus-circle
