extends _layout.pug

block var
	- var title = ''
	- var bodyClass = 'homepage'

block main
	include ../components/_global/breadcrumb/breadcrumb.pug
	include ../components/dau-thau/detail.pug
	include ../components/dau-thau/form-popup.pug