<?xml version="1.0" encoding="utf-8" ?>
<settings>
	<!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
	<position>
		<add name="Header Menu" value="1" resourcefile="" />
		<add name="Footer Sub Link 1" value="2" resourcefile="" />
		<add name="Footer Sub Link 1" value="4" resourcefile="" />
		<add name="Footer Link 3" value="8" resourcefile="" />
		<add name="Home-DanhMuc" value="16" resourcefile="" />
		<add name="Home sản phẩm" value="32" resourcefile="" />
		<add name="Trang khuyến mãi" value="64" resourcefile="" />
		<add name="Site 3 - Main Menu" value="128" resourcefile="" />
		<add name="Site 3 - Menu Top" value="256" resourcefile="" />
		<add name="Site 3 - Tin nổi bật" value="512" resourcefile="" />
		<add name="Site 3 - Home - Giới thiệu" value="1024" resourcefile="" />
		<add name="Site 3 - Home - Lĩnh vực hoạt động" value="2048" resourcefile="" />
		<add name="Site 3 - Home - Tin tức sự kiện" value="4096" resourcefile="" />
		<add name="Site 3 - Home - Quan hệ cổ đông" value="8192" resourcefile="" />
		<add name="Site 3 - Home - Công ty thành viên" value="16384" resourcefile="" />
		<add name="Site 3 - Home - Hệ thống phân phố" value="32768" resourcefile="" />
		<add name="Site 1 - Home - sản phẩm ván sàn" value="65536" resourcefile="" />
	</position>
</settings>
