<?xml version="1.0" encoding="utf-8" ?>
<settings>
	<!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
	<position>
		<add name="Header Menu" value="1" resourcefile="" />
		<add name="Footer Sub Link 1" value="2" resourcefile="" />
		<add name="Footer Sub Link 1" value="4" resourcefile="" />
		<add name="Footer Link 3" value="8" resourcefile="" />
		<add name="Home-DanhMuc" value="16" resourcefile="" />
		<add name="Home sản phẩm" value="32" resourcefile="" />
		<add name="Trang khuyến mãi" value="64" resourcefile="" />
		<add name="Home Ván sàn" value="128" resourcefile="" />
	</position>
</settings>