<?xml version="1.0" encoding="utf-8" ?>
<templates>
	<position>
		<add name="Sản phẩm đã xem" value="0" resourcefile="" />
		<add name="Product" value="1" resourcefile="" />
		<add name="Product - Home" value="2" resourcefile="" />
		<add name="Sản phẩm nổi bật" value="4" resourcefile="" />
		<add name="Home - Vật liệu hàn" value="8" resourcefile="" />
		<add name="Home - Ván sàn" value="16" resourcefile="" />
		<add name="Home - Dụng cụ cầm tay" value="32" resourcefile="" />
		<add name="Home - Dụng cụ hàn" value="64" resourcefile="" />
		<add name="Home - sản phẩm khác" value="128" resourcefile="" />
		<add name="Sản phẩm Flash sale" value="256" resourcefile="" />
	</position>
	<templatelist xsltname="VS_ProductList.xslt" name="Danh sách sản phẩm" />
	<templatedetail xsltname="VS_ProductDetail.xslt" name="Chi tiết sản phẩm" />
	<templatelist xsltname="VS_ProductHome.xslt" name="Sản phẩm đơn trang chủ" />
	<!-- Site 1 -->
	<!-- List -->
	<templatelist xsltname="Site1-ListProduct.xslt" name="Site1 - Danh sách sản phẩm" />
	<templatelist xsltname="Site1-ListProductVanSan.xslt" name="Site1 - Danh sách sản phẩm ván sàn" />
	<templatedetail xsltname="Site1-DetailProductDungCu.xslt" name="Site1 - Chi tiết sản phẩm của dụng cụ" />
	<templatedetail xsltname="Site1-DetailVatLieuHan.xslt" name="Site1 - Chi tiết sản phẩm của vật liệu hàn" />
	<templatedetail xsltname="Site1-DetailVanSan.xslt" name="Site1 - Chi tiết sản phẩm ván sàn" />
	<showoption name="Mới 1" value="1" class="promotion op1" />
	<!-- Detail -->
</templates>