section.section.bidding-detail 
	.container 
		.row
			.col-lg-9
				.section-title 
					h1 Gói kim loại màu 1
				.bottom-wrapper.d-flex.align-center.justify-between
					time 22.10.2020
					.social
				.brief-content 
					table 
						tr 
							td Ngày bắt đầu
							td 10/1/2021
						tr
							td Ngày kết thúc
							td 20/1/2021
						tr
							td Hình thức chào giá
							td Cạnh tranh
				.fullcontent 
					h2 Nội dung chi tiết
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
				.button
					a.btn.btn-yellow(href="#form-popup" data-fancybox="formpopup") 
						span báo giá
			.col-lg-3
				.wrap-other
					.title-other-post.f-24 Đấu thầu khác
					.wrap-list-post
						-for(i=1;i<6;i++)
							.item-post
								.img
									a(href="")
										img(src="./img/post/post-3.png" alt="")
								.content
									a(href="") Gói nvl2
									time 15/01/2021
