section.san-pham-ct.dung-cu-cam-tay
	.container
		.wrap-main-product
			.wrap-img-product.border-right
				.thumbnail-product
					.swiper-container
						.swiper-wrapper
							-for(i=0;i<8;i++)
								.swiper-slide
									.wrap-img
										.img
											img(src="./img/product-big.png" alt="")
						.wrap-button
							.button-prev
								em.lnr.lnr-arrow-up
							.button-next
								em.lnr.lnr-arrow-down
				.img-main-product
					.swiper-container
						.swiper-wrapper
							-for(i=0;i<8;i++)
								.swiper-slide
									a(href="./img/product-big.png" data-fancybox)
										img(src="./img/product-big.png" alt="")
			.wrap-content-product.padding-content
				h1.title-product-main.lh-8 Máy khoan chạy pin CT21052L CROWN
				.wrap-main-price-share
					.wrap-price
						ins.main-price 3.400.000 đ
						del.sale-price 4.050.000 đ
					.wrap-share
						a(href="").add-favorites
							em.lnr.lnr-heart
						a(href="").like-facebook
							em.fab.fa-facebook-f
				.content-main
					.sku SKU: MKCP0123
					table
						tr
							td Mô tả
							td Khoan thép 10 mm, khoan gỗ 20 mm
						tr
							td Cỡ vít tối đa
							td 6mm
						tr
							td Lực xoắn tối đa
							td 27Nm
						tr
							td Tốc độ không tải
							td 0-400-1.300v/p
						tr
							td Bảo hành
							td 6 tháng
				.wrap-number-order.one-line.mt-19
					span Số lượng
					.input-amount
						a.btn-dec(href='#')
						input.amount(type='text' value='1' name='')
						a.btn-inc(href='#')
				.wrap-button-buy.mt-19
					a(href="").btn.add-to-cart Thêm vào giỏ hàng
					a(href="").btn.buy-now Mua ngay
		.wrap-desc-product
			.row
				.col-lg-9
					.wrap-box-left
						.tab-desc-product
							.title-tab-product Mô tả sản phẩm
							.content-product
								ul
									li Bắt và tháo ốc vít
									li Có thể sử dụng như một máy khoan cỡ nhỏ
									li Ứng dụng trong sửa chữa gia dụng, sửa chữa cơ khí chuyên nghiệp
								p
									strong Lưu ý
						.box-comment-facebook
							.head
								.title-page Bình luận sản phẩm
								.count-comment 0 Bình luận
				.col-lg-3
					.wrap-other-product
						.title-other-product.color-text.f-18.fw-700.text-uppercase Cùng danh mục
						.wrap-item
							-for(i=0;i<5;i++)
								.item-product-other.zoom-img
									.img
										a(href="")
											img(src="./img/product-big.png" alt="")
									.wrap-content
										a(href="").title Máy khoan chạy Pin Crown CT21052L
										.wrap-price
											ins 4.500.000 đ
											del 5.620.000 đ
					.button.d-flex.justify-center.mt-20
						.btn.btn-defaul.showItem
							span Xem thêm
							em.lnr.lnr-plus-circle
section.section.home-product.bg-grey
	.container
		.section-title Sản phẩm liên quan
		.wrapper-slide
			.swiper-container
				.swiper-wrapper
					-for(i=1; i<6; i++)
						.swiper-slide
							.swiper-inner
								.img
									a(href="")
										img.lazyload(data-src="./img/home/product/pro-"+i+".png" alt="")
								.caption
									.title
										a(href="") Que hàn thép carbon thấp KT-6013
									.wraper-price.d-flex.aligin-center
										span.price 550.000 đ
										span.oldprice 650.000 đ
								.option.yellow
									.desc Mới
								.option.red
									.desc -15%
			.wrap-button
				.swiper-button-next
				.swiper-button-prev
section.section.home-product.bg-grey
	.container
		.section-title Sản phẩm đã xem
		.wrapper-slide
			.swiper-container
				.swiper-wrapper
					-for(i=1; i<6; i++)
						.swiper-slide
							.swiper-inner
								.img
									a(href="")
										img.lazyload(data-src="./img/home/product/pro-"+i+".png" alt="")
								.caption
									.title
										a(href="") Que hàn thép carbon thấp KT-6013
									.wraper-price.d-flex.aligin-center
										span.price 550.000 đ
										span.oldprice 650.000 đ
								.option.yellow
									.desc Mới
								.option.red
									.desc -15%
			.wrap-button
				.swiper-button-next
				.swiper-button-prev