<?xml version="1.0" encoding="utf-8" ?>
<templates>
	<position>
		<add name="Product" value="1" resourcefile="" />
		<add name="Product - Home" value="2" resourcefile="" />
	</position>
	<templatelist xsltname="VS_ProductList.xslt" name="Danh sách sản phẩm" />
	<templatedetail xsltname="VS_ProductDetail.xslt" name="Chi tiết sản phẩm" />
	<templatelist xsltname="VS_ProductHome.xslt" name="Sản phẩm đơn trang chủ" />
	<!-- Site 1 -->
	<!-- List -->
	<templatelist xsltname="Site1-FlashSale.xslt" name="Site1 - Danh sách sản phẩm sale" />
	<templatedetail xsltname="Site1 - Chi tiết sản phẩm.xslt" name="Site1 - Chi tiết sản phẩm" />
	<!-- Detail -->
</templates>