.wrap-thong-bao-dat-hang
	.container
		.thong-bao-dat-hang(setBackground="/Data/Sites/1/skins/default/img/icons/thanh-toan-don-hang.png")
			.title-thong-bao
				img(src="/Data/Sites/1/skins/default/img/icons/icon-tick.png" alt="")
				span Đặt hàng thành công
			.content-thong-bao
				p Mã đơn hàng của bạn là:
					span #200520001
				p Hiện tại đơn hàng của bạn được xử lý
				p Thông tin chi tiết đơn hàng sẽ được gửi đến hộp thư của bạn:
				p
					strong Email
				p Mọi thắc mắc xin vui lòng liên hệ
				p
					strong Hotline: (028) 3950 6617
				p
					strong Email: support@kimtin.vn
				p Cảm ơn bạn đã đặt hàng. Đơn hàng của bạn sẽ được xử lý trong thời gian sớm nhất. Chúng tôi sẽ liên hệ lại với bạn để xác nhận yêu cầu và giao hàng
				a.btn-success-checkout(href="") Tiếp tục mua hàng
