<?xml version="1.0" encoding="utf-8" ?>
<templates>
	<!-- 				List				  -->
	<templatelist xsltname="VS_NewsList_1_1.xslt" name="Danh sách tin 1 Sec 1"></templatelist>
	<templatelist xsltname="VS_NewsList_1_2.xslt" name="Danh sách tin 1 Sec 2"></templatelist>
	<templatelist xsltname="VS_NewsList_1_3.xslt" name="Danh sách tin 1 Sec 3"></templatelist>
	<templatelist xsltname="VS_NewsList_2.xslt" name="Danh sách tin 2"></templatelist>
	<templatelist xsltname="VS_ProjectList.xslt" name="Danh sách dự án"></templatelist>
	<!-- 				Detail				  -->
	<templatedetail xsltname="VS_NewsDetail.xslt" name="Chi tiết tin"></templatedetail>
	<templatedetail xsltname="VS_ProjectDetail.xslt" name="Chi tiết dự án"></templatedetail>
	<!-- Site 1 -->
	<templatelist xsltname="Site1-ListKhuyenMai.xslt" name="Danh sách tin khuyến mãi"></templatelist>
	<templatedetail xsltname="Site1-DetailKhuyenMai.xslt" name="Chi tiết tin khuyến mãi"></templatedetail>
	<position>
		<add name="5 lí do chọn Timbee - Trang chủ" value="1" resourcefile="" />
		<add name="Slide Video - Trang chủ" value="2" resourcefile="" />
		<add name="Bài viết Tầm nhìn - sứ mệnh - mục tiêu - /// Trang giới thiệu" value="4" resourcefile="" />
		<add name="Tin nổi bật - Trang tin tức" value="8" resourcefile="" />
	</position>
</templates>