#page-banner
	width: 100%
	position: relative
	z-index: 2
	.banner__pages
		width: 100%
		height: auto
		min-height: 300px
		// &::before
		// 	content: ''
		// 	position: absolute
		// 	background-color: rgba(0, 0, 0, 0.5)
		// 	top: 0
		// 	left: 0
		// 	width: 100%
		// 	height: 100%
		// 	z-index: 1
		@media (max-width: 575.98px)
			min-height: auto
			height: 32vh
		img
			width: 100%
			height: 100%
			object-fit: cover
			object-position: center
	.box-text-banner
		position: absolute
		top: 50%
		z-index: 2
		left: 50%
		transform: translateY(-50%) translateX(-50%)
		width: 100%
		max-width: 1000px
		.text
			color: $white
			font-size: r(26px)
			font-weight: 900
			text-transform: uppercase
			text-align: center
			margin-bottom: 30px
			@media (max-width: 767.98px)
				font-size: r(18px)
				margin-bottom: 15px
		.btn
			width: 180px
			margin: 0 auto
			&:hover
				em
					color: $main
			em
				color: $brow-f20
				z-index: 2
				transition: .3s all  ease-in-out
