section#page-banner
	.banner__pages
		img(src="./img/PageBanner.jpg" alt="")
	.box-text-banner
		.text TIMBEE luôn đạt tiêu chuẩn về chất lượng và thỏa mãn được
			br
			| nhu cầu khắt khe của khách hàng trong và ngoài nước
		a.btn.btn-yellow(href="")
			span Xem ngay
			em.lnr.lnr-arrow-right